<div class="container flex-1 mx-auto px-5">
  <div class="flex flex-col">
    <h1 class="text-3xl font-bold">Articles</h1>

    <p class="mt-2">
      Our blog has <%= Article.public_count %> articles and counting!
    </p>

    <ul class="mt-4">
      <% @articles.each do |article| %>
        <% unless article.archived? %>
          <li>
            <%= link_to article.title, article %>
          </li>
        <% end %>
      <% end %>
    </ul>

    <%= link_to 'New Article', new_article_path, class: "mt-4" %>
  </div>
</div>
